<div class="title">
  <h3>Tìm kiếm đơn hàng</h3>
</div>

<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let control of controlArray" [hidden]="!control.show">
      <nz-form-item>
        <nz-form-label [nzFor]="'field' + control.index">Field {{ control.index }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            placeholder="placeholder"
            [formControlName]="'field' + control.index"
            [attr.id]="'field' + control.index"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col [nzSpan]="24" class="search-area">
      <button nz-button [nzType]="'primary'">Search</button>
      <button nz-button (click)="resetForm()">Clear</button>
      <a class="collapse" (click)="toggleCollapse()">
        Collapse
        <span nz-icon [nzType]="isCollapse ? 'down' : 'up'"></span>
      </a>
    </div>
  </div>
</form>
<div class="search-result-list"><div class="title">
  <h2>Danh sách đơn hàng</h2>
</div>

<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>STT</th>
        <th>Ngày tạo</th>
        <th>Ngày thay đổi</th>
        <th>Status Code</th>
        <th>Trạng thái đơn hàng</th>
        <th>Chi tiết trạng thái đơn hàng</th>
        <th>Order code</th>
        <th>Chi tiết</th>
        <th>Chỉnh sửa</th>
        <th>Hủy đơn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData">
        <td>{{ data.id }}</td>
        <td>{{ data.createdAt }}</td>
        <td>{{ data.updateAt }}</td>
        <td>{{ data.statusCode }}</td>
        <td>{{ data.statusDesc }}</td>
        <td>{{ data.statusDetail }}</td>
        <td>{{ data.orderCode }}</td>
        <td><span nz-icon nzType="eye" nzTheme="outline"></span></td>
        <td>
            <span nz-icon nzType="edit" nzTheme="outline"></span>
        </td>
        <td><span nz-icon nzType="delete" nzTheme="outline"></span></td>
      </tr>
    </tbody>
  </nz-table></div>
